<div class="clear-nav fade-in" id="todos">
	<div class="container">
		<div *ngIf="working; else content" class="text-center mt-10">
			<h1><span class="fa fa-spinner fa-spin"></span></h1>
		</div>

		<ng-template #content>
			<div
				*ngIf="!(todos && todos.length); else todosList"
				class="alert alert-warning text-center"
			>
				<p>No todos found :(</p>
				<button
					(click)="Add()"
					color="mdb-color"
					mdbBtn
					mdbWavesEffect
					size="sm"
				>
					add one
				</button>
			</div>

			<ng-template #todosList>
				<div class="text-center">
					<h1>Todos</h1>
					<button
						(click)="Add()"
						color="mdb-color"
						mdbBtn
						mdbWavesEffect
						size="large"
					>
						add
					</button>
				</div>
				<table class="table table-borderless">
					<thead>
						<tr>
							<th>Done</th>
							<th>Title</th>
							<th class="d-none d-md-block">Due</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let todo of todos"
							[ngClass]="{
								'alert-success': todo.done,
								'alert-warning':
									todo.isDueShortly() && !todo.done,
								'alert-danger':
									todo.isOverdue() &&
									!todo.isDueShortly() &&
									!todo.done,
								'alert-info':
									!todo.done &&
									!todo.isOverdue() &&
									!todo.isDueShortly()
							}"
						>
							<td>
								<mdb-checkbox
									(change)="ToggleDone(todo)"
									[(ngModel)]="todo.done"
								>
								</mdb-checkbox>
							</td>
							<td [ngClass]="{ 'line-through': todo.done }">
								{{ todo.title }}
								<span
									*ngIf="
										todo.isOverdue() &&
										!todo.isDueShortly() &&
										!todo.done
									"
								>
									&nbsp;(overdue)
								</span>
							</td>
							<td class="d-none d-md-block">
								{{ todo.due | date: 'shortDate' }}
							</td>
							<td>
								<span
									(click)="View(todo)"
									class="fa fa-eye"
								></span>
								&nbsp;
								<span
									(click)="Edit(todo)"
									class="fa fa-pencil-alt"
								></span>
								&nbsp;
								<span
									(click)="Delete(todo)"
									class="fas fa-trash"
								></span>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="clearfix"></div>
				<div *ngIf="error">
					<hr />
					<div class="alert alert-danger">
						<span
							(click)="error = undefined"
							class="close fa fa-times"
						></span>
						{{ error }}
					</div>
				</div>
			</ng-template>
		</ng-template>
	</div>
</div>
