<div class="fade-in" id="home-page">

    <div [ngStyle]="{ background: 'url(assets/images/main-bg-2.jpg) no-repeat center center', 'background-size': 'cover' }"
         class="section"
         id="home">
        <div class="text-center"
             style="width: 100%; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%)">
            <h1 id="home-brand" title="Notice Everything Creative | Business Software Solutions">
                <span class="white-text">notice</span><span class="cyan-text">everything</span>
            </h1>
            <p class="white-text">
                <span class="standout amber-text">mean</span>
                nx starter
            </p>
        </div>
    </div>
</div>
